version: "3"

includes:
  secret:
    taskfile: $DOTFILES_ROOT/roles/workspace/files/secret/Taskfile.yaml
    optional: true

tasks:
  default:
    silent: true
    cmds:
      - $DOTFILES_ROOT/roles/zsh/files/bin/ubi --list-all

  yarn:set:stable:
    silent: true
    dir: "{{.USER_WORKING_DIR}}"
    cmds:
      - yarn set version stable

  tmp:cleanup:
    silent: true
    dir: "{{.USER_WORKING_DIR}}"
    preconditions:
      - test -d ./tmp
    cmds:
      - echo "cleaning up ./tmp directory"
      - find ./tmp -mindepth 1 ! -name '.gitignore' -delete -print

  help:
    silent: true
    cmds:
      - $DOTFILES_ROOT/roles/zsh/files/bin/ubi --list-all

  dotfiles:docker-dir:
    silent: true
    cmds:
      - echo "$DOTFILES_ROOT/roles/workspace/files/docker"

  dotfiles:edit:
    silent: true
    cmds:
      - zed "$DOTFILES_ROOT"

  git:fix-commit-metadata:
    silent: true
    cmds:
      - git commit --amend --author='Yordis Prieto <yordis.prieto@gmail.com>' --date="$(date)"

  dotfiles:dc:
    silent: true
    aliases:
      - dc
    cmds:
      - >-
        docker compose
        --project-directory "$DOTFILES_ROOT/roles/workspace/files/docker"
        --file "$DOTFILES_ROOT/roles/workspace/files/docker/docker-compose.yml"
        {{.CLI_ARGS}}

  dotfiles:sync:
    silent: true
    dir: "{{.HOME}}/.dotfiles"
    cmds:
      - git pull
