- name: install Homebrew taps
  when: homebrew_check.stat.exists
  loop: "{{ taps }}"
  community.general.homebrew_tap:
    name: "{{ item.name }}"
    state: "{{ item.state }}"

- name: install Homebrew brews
  when: homebrew_check.stat.exists
  loop: "{{ brews }}"
  community.general.homebrew:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    install_options: "{{ item.install_options }}"

- name: install Homebrew casks
  when: homebrew_check.stat.exists
  loop: "{{ casks }}"
  community.general.homebrew_cask:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    install_options: force,appdir=/Applications
