version: '3'

services:
  email.mailcatcher:
    image: schickling/mailcatcher:latest
    restart: always
    ports:
      - 1025:1025
      - 1080:1080

  database.postgis:
    image: mdillon/postgis:latest
    restart: always
    ports:
      - 5433:5432
    env_file:
      - ./services/database/postgis/.env
    volumes:
      - ./volumes/postgis:/var/lib/postgresql/data

  database.postgresql:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./services/database/postgresql/.env
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data

  database.redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'

  database.memcached:
    image: 'memcached:alpine'
    ports:
      - '11211:11211'
