- name: ensure directories exist
  file:
    dest: "{{ item }}"
    state: directory
  loop: "{{ directories }}"

- name: create symlinks
  loop: "{{ symlinks }}"
  file:
    src: "{{ dotfiles_directory }}/roles/workspace/files/{{ item.src }}"
    dest: "{{ user_home_directory }}/{{ item.dest }}"
    state: link
