- name: install zsh using Homebrew
  community.general.homebrew:
    name: zsh
    state: latest

- name: install zplug using Homebrew
  community.general.homebrew:
    name: zplug
    state: latest

- name: check existing shell
  shell: echo $0
  register: current_shell
  changed_when: no

- name: change the user's shell
  command: chsh -s /bin/zsh
  become: true
  when: current_shell.stdout != "/bin/sh"

- name: link .zshrc config file
  file:
    src: "{{ dotfiles_directory }}/roles/zsh/files/zshrc.symlink"
    dest: "{{ user_home_directory }}/.zshrc"
    state: link
    force: yes

- name: ensure private.zsh file exists
  file:
    dest: "{{ dotfiles_directory }}/roles/zsh/src/private.zsh"
    state: touch
