version: "3"

services:
  docker_registry:
    image: registry:latest
    restart: always
    ports:
      - 5001:5000

  keycloak:
    image: jboss/keycloak:latest
    restart: on-failure
    ports:
      - 9000:8080
    env_file:
      - ./services/keycloak/.env
    depends_on:
      - database_mysql

  grafana:
    image: grafana/grafana:latest
    restart: on-failure
    ports:
      - 9001:3000
    volumes:
      - ./volumes/grafana/:/var/lib/grafana
    env_file:
      - ./services/grafana/.env

  rancher:
    image: rancher/rancher:latest
    restart: on-failure
    ports:
      - 80:80
      - 443:443

  minio:
    image: minio/minio:edge
    command:
      - server
      - /data
    restart: on-failure
    ports:
      - 9002:9000
    volumes:
      - "./volumes/minio/storage:/data"
    env_file:
      - ./services/minio/.env

  prometheus:
    image: prom/prometheus:latest
    restart: on-failure
    ports:
      - 9090:9090

  verdaccio:
    image: verdaccio/verdaccio:latest
    restart: on-failure
    ports:
      - 4873:4873
    volumes:
      - "./volumes/verdaccio/storage:/verdaccio/storage"
      - "./volumes/verdaccio/plugins:/verdaccio/plugins"
    env_file:
      - ./services/verdaccio/.env

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    restart: on-failure
    ports:
      - 2181:2181
    env_file:
      - ./services/zookeeper/.env

  kafka:
    image: confluentinc/cp-kafka:latest
    restart: on-failure
    ports:
      - 9092:9092
    depends_on:
      - zookeeper
    env_file:
      - ./services/kafka/.env

  opa:
    image: openpolicyagent/opa:latest
    restart: on-failure
    ports:
      - 8181:8181
    command:
      - run
      - --server
      - --log-level=debug

  email_mailcatcher:
    image: mailhog/mailhog:latest
    restart: on-failure
    ports:
      - 1026:1025
      - 8026:8025

  database_eventstore:
    image: eventstore/eventstore:latest
    restart: on-failure
    ports:
      - 2113:2113
      - 1113:1113

  database_postgis:
    image: mdillon/postgis:latest
    restart: on-failure
    ports:
      - 5433:5432
    env_file:
      - ./services/database/postgis/.env
    volumes:
      - ./volumes/postgis:/var/lib/postgresql/data

  database_mysql:
    image: mysql:latest
    restart: on-failure
    ports:
      - 3306:3306
    env_file:
      - ./services/database/mysql/.env
    volumes:
      - ./volumes/mysql:/var/lib/mysql

  database_postgresql:
    image: postgres:latest
    restart: on-failure
    ports:
      - 5434:5432
    env_file:
      - ./services/database/postgresql/.env
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data

  database_dynamodb:
    image: amazon/dynamodb-local:latest
    restart: on-failure
    ports:
      - 8000:8000

  database_redis:
    image: redis:latest
    restart: on-failure
    ports:
      - 6380:6379

  database_memcached:
    image: memcached:latest
    restart: on-failure
    ports:
      - 11211:11211

  database_mongodb:
    image: mongo:latest
    restart: on-failure
    ports:
      - 27017:27017
