- name: link .gitignore_global file
  file:
    src: "{{ dotfiles_directory }}/roles/git/files/gitignore_global.symlink"
    dest: "{{ user_home_directory }}/.gitignore_global"
    state: link
    force: yes

- name: link .gitmessage template
  file:
    src: "{{ dotfiles_directory }}/roles/git/files/gitmessage.symlink"
    dest: "{{ user_home_directory }}/.gitmessage"
    state: link
    force: yes

- name: link .gitconfig file
  file:
    src: "{{ dotfiles_directory }}/roles/git/files/gitconfig.symlink"
    dest: "{{ user_home_directory }}/.gitconfig"
    state: link
    force: yes

- name: ensure secret.gitconfig file exists
  file:
    dest: "{{ dotfiles_directory }}/roles/git/src/secret.gitconfig"
    state: touch
