"*":
  "color-picker":
    abbreviateValues: true
  core:
    closeDeletedFileTabs: true
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 30
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "3e2a4611-d268-ebf6-e196-335e0474affa"
  "linter-ui-default":
    panelHeight: 36
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "webbox-color":
    fillColorAsBackground: false
  welcome:
    showOnStartup: false
